.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:10px;
    height: 100vh;
  
}
.basic{
    background-color:rgba(211, 211, 211, 0.566);
    width:400px;
    padding-left:25px;
    padding-bottom:15px;
    align-items:center;
    border-radius:5px;
    height: fit-content;

}
.standard{
background-color:rgba(211, 211, 211, 0.566);
width:400px;
padding-left:25px;
padding-bottom:15px;
border-radius:5px;
height: fit-content;

}
.premium{
   background-color:rgba(211, 211, 211, 0.566);
   width:400px;
   padding-left:25px;
   padding-bottom:15px;
   border-radius:5px;
   height: fit-content;
}
button{
    background-color:rgb(255, 102, 0);
    border:none;
    border-radius:2px;
    color:white;
    padding:5px 5px 5px 5px;
    margin-left:150px;
    
}
h4{
    font-size:25px;
    font-weight: bold;
    margin-left:150px;
}
h3{
    font-size:50px;
    font-weight: bold;
    margin-left:60px;
}
p{
    margin-left:100px;
}
@media(max-width:1250px){
    .container{
        flex-direction: column;
        height: 100%;
    }
}